.weather-info-wrapper{
    height: 40rem;
    max-width: 70rem;
    margin: 0 auto;
}

.weather-info__temperature{
    font-size: 15rem;
    color: #ebebeb;
    font-family: $number-font;
    text-align: center;
    height: 150px;
    padding-top: 80px;
    margin-bottom: 10rem;
}

.weather-info__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color : $off-white;
    font-family : $header-font;
    letter-spacing: 1px;
}

.error-message{
    text-align: center;
    font-size: $l-size;
    font-family: $header-font;
    color: $off-white;
}