// to define theme of the app
//things you want to keep similar/change at multiple places

//Colors
$off-white : #ebebeb;
$light-gray: #A2B1C0;


//fonts
$header-font : 'Fjalla One', sans-serif;
$number-font : 'Lato', sans-serif;

//spacing
//medium size
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint : 45rem;


$gradient-default : linear-gradient(to right, #6E86A1, #203543);
$gradient-hot : linear-gradient(to right, #E94057 ,#F27121);
$gradient-cold : linear-gradient(to right, #3E5151 ,#DECBA4);





